
font-face {
    font-family: "CommitMono";
    font-style: normal;
    font-weight: 200;
    src: url(https://github.com/eigilnikolajsen/commit-mono/raw/main/src/fonts/fontlab/CommitMonoV138-200Regular.otf);
}